<h3><u> About Reed:</h3></u>
<div class ="container">
 <p>
An educational technology social platform where people, students, academics can look up course notes, journals, articles relating to a subject or certain field of study that is of particular interest to them, study together and alongside peers, colleagues, friends virtually.
</p>
<br>
<p>

<h3> WHY: </h3>
<ul>
<li> Noticed while currently studying in the university of Ilorin, Nigeria that most lecturers and students of institutions sell and give out different course notes/materials to students and this becomes a rowdy process where you have to go to cafes or cause a crowd in class just to get materials.</li>

<li> Gives a platform for institutions, academics to share their knowledge, insights, research on a certain aspect to the general public. </li>

<li> Provides an avenue for the academics to sell their work and earn extra income.</li>

<li> Provides the students, public a stress free way of purchasing, getting course notes.</li>

<li> Provides students, people to open up an academic discourse between both parties on the said topic.</li>

<li> Provides verified and reputable institutions an avenue to display their academic research papers, journals to the public and contribute to an open source display of knowledge.</li>

<li> Provides students with an easier and productive way to follow up on their preferred academic subjects.</li>

<li> In the long run, lecturers can sell their video courses on the platform marketplace just like Udemy.</li>

</ul>

</br>

<h3>WHO SHOULD USE THE PLATFORM?</h3>

Basically anyone can use the platform, from the single mum in Qatar who is interested in knowing the economic policy of Rwanda, the business woman who wants to check up on latest research of the ease of doing business in Nigeria, to the student that has his anatomy test next Monday and is carrying out personal research on the 206 bones in the body. The platform is an open marketplace for knowledge in different fields of study, from accounting, to economics, to engineering to neuroscience.
</div>

<center>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2Mz0zW64Vlg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>