<div class = "leftside-nav">
HOMEPAGE....
</div>




<div class = "main-content">

Click link below to add your notes, courses:
<%= link_to "New Note", pins_path, class:"nav-link", class:"link-success" %>

</div>